body {
  width: 95%;
  font-family: "Lucida Console", "Courier New", monospace;
}

details {
  padding-top: 16px;
}

summary {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

.content {
  float: right;
  width: 80%;
  padding-bottom: 32px;
}

.section {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 32px;
}

.banner {
  padding-top: 16px;
  width: 100%;
}

.sidebar {
  position: fixed;
  padding-left: 4px;
  width: 16%;
}

.sidebar-item {
  padding-top: 8px;
}
